<div class="row">

    <div class="col-lg-12">
        <div class="card border border-primary">
            <div class="card-header bg-primary border-primary">
                <h5 class="my-0 text-white"><i class="uil uil-message me-3"></i>Gelen Mesajlar</h5>
            </div><!-- end card-header -->
            <div class="card-body">

                <table itemid="tblContactForms" class="table table-striped table-bordered">
                </table>

            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>


</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("tblContactForms").DataTables({
                ajax: '@Url.Action("GetAll","ContactForm")',
                colums: [
                    { data: "name", title: 'Ad Soyad' },
                    { data: "email", title: 'Email' },
                    { data: "subject", title: 'Konu' },
                    { data: "message", title: 'Mesaj' },
                    { data: "phone", title: ' Telefon ' },
                    {
                        data: "id",
                        render: function (data) {
                            return `<a href="#" onclick="deleteContactForm(${data})" class="btn btn-sm btn-danger">Sil</a>`;
                        }
                    }
                ],
                language: { "url": "//cdn.datatables.net/plug-ins/1.10.25/il8n/Turkish.json" }
            });

        });

        function deleteContactForm(id) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteById","ContactForm")',
                data: { contactFormId: id },
                success: function (data) {
                    if (data.result) {
                        swal.fire({
                            icon: 'success',
                            title: 'Başarılı',
                            text: 'Mesaj silindi',
                            showConfirmButton: false,
                            timer: 1500
                        })
                        $("#tblContactForms").DataTable().ajax.reload();
                    }
                    else {
                        swal.fire({
                            icon: 'error',
                            title: 'Hata',
                            text: 'Mesaj silinemedi',
                            showConfirmButton: false,
                            timer: 1500
                        })
                    }
                }

            });
        };



    </script>
}